/* Course section SCSS start*/
.course-sec{
    background: linear-gradient(45deg, rgba($color: $secondary-color, $alpha: 0.60), rgba($color: $red-color, $alpha: 0.60),);
    .course{
        .course-title{
            font-size: 18px;
            padding: 10px 0px;
            margin-bottom: 20px;
            transition: all ease-in-out .3s;
            &:hover{
            color: $secondary-color;
           
        }
        }
        
    }
}
/* Course section SCSS end*/