header{
    .slider{}
    .slider-bg{
        background: url('assets/images/slider-bg.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        height: 100vh;
        .overlay{
            background-color: rgba($color: #000, $alpha: 0.77);
            width: 100%;
            height: 100%;
            .slider-content {
                background: url('assets/images/wahednur.png');
                width: 100%;
                height: 100%;
                background-repeat: no-repeat;
                background-position: bottom right;
                background-size: 800px;
                .text-content {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    height: 100%;
                    .center{
                        .name-title {
                            .name {
                                font-size: 100px;
                                font-weight: 900;
                                background: linear-gradient(90deg, $primary-color, $secondary-color, $red-color,  orange, purple, lightgreen, blue, $primary-color);
                                background-size: 400% 400%;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                animation: wahednur 20s linear infinite;
                                -webkit-animation: wahednur 20s linear infinite;
                                position: relative;
                                &::after{
                                    content: '';
                                    width: 100%;
                                    height: 3px;
                                    bottom: 0;
                                    left: 0;
                                    background: linear-gradient(90deg, $secondary-color, $red-color);
                                    position: absolute;
                                }
                                
                            }

                            .title {
                                font-size: 60px;
                                font-weight: 700;
                                letter-spacing: 12px;
                                background: linear-gradient(45deg, $secondary-color, $red-color);
                                background-size: 100% 100%;
                                -webkit-background-clip: text;
                                -webkit-text-fill-color: transparent;
                                text-transform: capitalize;
                            }
                        }

                        .action-btn {
                            margin-top: 20px;
                            .btn-group {
                                display: flex;
                                width: 300px;
                                justify-content: space-between;
                                align-items: center;
                                .hire-portfolio {
                                    font-size: 25px;
                                    background: linear-gradient(45deg, var(--c1, $primary-color), var(--c2, $secondary-color) 51%, var(--c1, $red-color)) var(--x, 0)/ 200%;
                                    padding: 5px 20px;
                                    border-radius: 3px;
                                    transition: all ease-in-out .5s;
                                    a{
                                        color: $white-color;
                                    }
                                    &:hover{
                                        --x: 100%;
                                    }
                                }
                            }

                            .buy-service {
                                margin-top: 20px;
                                display: block;
                                font-size: 25px;
                                width: 300px;
                                background: linear-gradient(45deg, var(--c1, $primary-color), var(--c2, $secondary-color) 51%, var(--c1, $red-color)) var(--x, 0)/ 200%;
                                padding: 5px 20px;
                                border-radius: 3px;
                                transition: all ease-in-out .5s;
                                color: $white-color;
                                &:hover{
                                    --x: 100%;
                                }
                            }
                        }

                        .scroll-action {
                            margin-top: 100px;
                            .mouse {
                                width: 25px;
                                height: 35px;
                                border: 2px solid $secondary-color;
                                border-radius: 30px;
                                .scroll {
                                    background: $secondary-color;
                                    height: 8px;
                                    width: 3px;
                                    margin-top: 5px;
                                    animation: mouse 5s linear infinite;
                                    -webkit-animation: mouse 5s linear infinite;
                                }
                            }

                            .scroll-link {
                                font-size: 18px;
                                color: $secondary-color;
                                margin-top: 20px;
                                display: block;
                            }
                        }
                    }
                    
                }
            }
        }
        
    }
}
@keyframes wahednur {
    0% {
        background-position: 0%;
    }
    100% {
        background-position: 400% 50%;
    }
}
@keyframes mouse {
    0%{
        margin-top: 5px;
    }
    50%{
        margin-top: 10px;
    }
    100%{
        margin-top: 5px;
    }
}