footer.footer{
    background: url('assets/images/footer_bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: rgba($color: #000000, $alpha: 0.85);
        position: absolute;
        z-index: -1;
    }
    p{
        margin-bottom: 0px;
        color: $white-color;
        margin-top: 12px;
    }
    .phone-num{
        color: $primary-color !important;
        .num{
            margin-left: 10px;
        }
    }
    
    .social-sect{
        margin-top: 20px;
        .social-list{
            .social-link{
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }
    .email-box{
        .input-control{
            width: 100%;
            margin-bottom: 24px;
            height: 34px;
            padding: 5px 10px;
            &:focus{
                outline: none;
            }
        }
        .text-control{
            width: 100%;
            padding: 5px 10px;
            margin-bottom: 24px;
            &:focus{
                outline: none;
            }
        }
        .send-btn{
            background: linear-gradient(45deg, var(--c1, $primary-color), var(--c2, $secondary-color) 51%, var(--c1, $red-color)) var(--x, 0)/ 200%;
            padding: 5px 20px;
            border-radius: 3px;
            transition: all ease-in-out .5s;
            border: 1px solid $primary-color;
            color: $white-color;
            &:hover{
                --x: 100%;
                border: 1px solid $secondary-color;
            }
        }
    }
    .ml-10{
        margin-right: 10px !important;
    }
    .copywrite{
        text-align: center;
        background: $primary-color;
        width: 100%;
        p{
            margin-top: 50px;
            padding: 5px 10px;
        }
    }
}

@media(max-width:800px){
footer.footer{
    margin-bottom: 60px;
    background: url('assets/images/footer_bg.jpg');
}
@media(max-width:540px){
    .email-box{
        margin-top: 24px;
    }
    .copywrite{
        p{
            font-size: 15px;
        }
    }
}
}