/*Reset CSS Start */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    color: $text-color;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #F1F1F1;

}
a{
    text-decoration: none;
    color: $primary-color;
    transition: all ease-in-out .3s;
    &:hover{
        color: $secondary-color;
    }
}
h1, h2, h3, h4, h5, h6 {
    color: $primary-color;
}
section, header, footer{
    display: block;
    width: 100%;
    float: left;
}

ul{
    list-style: none;
    margin-left: 0 !important;
    padding-left: 0 !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}


@media(max-width:540px){
    .mbl-mt-20{
        margin-top: 20px;
    }
}

/*Reset CSS End */
