/* --------------------------  */
/*Home Slider Responsive start*/
/* iPad 768p */
@media(max-width:768px){
    .slider{
        .slider-bg{
            .overlay{
                .slider-content{
                    background-size: 600px !important;
                    background-position: center bottom;
                    .text-content{
                        .center{
                        .name-title{
                            margin-bottom: 100px;
                            display: inline-block;
                            height: 250px;
                            .name{
                                font-size: 80px;
                            }
                            .title{
                                font-size: 45px;
                            }
                        }
                        .action-btn{
                            display: block;
                            width: 100%;
                            margin: 50px auto;
                        } 
                        }
                    }
                }
            }
        }
    }
}
/* Mobile 540p */
@media(max-width:540px){
    .slider{
        .slider-bg{
            .overlay{
                .slider-content{
                    background-size: 400px !important;
                    background-position: center bottom;
                    .text-content{
                        .center{
                            margin-top: 60px;
                        .name-title{
                            margin-bottom: 0px;
                            display: inline-block;
                            height: 150px;
                            .name{
                                font-size: 60px;
                            }
                            .title{
                                font-size: 40px;
                                letter-spacing: 5px;
                            }
                        }
                        .action-btn{
                            display: block;
                            width: 100%;
                            margin-top: 0px !important;
                        } 
                        }
                    }
                }
            }
        }
    }
}
@media(max-width:414px){
    .slider{
        .slider-bg{
            .overlay{
                .slider-content{
                    background-size: 250px !important;
                    background-position: center bottom;
                    .text-content{
                        .center{
                            margin-top: 60px;
                        .name-title{
                            margin-bottom: 0px;
                            display: inline-block;
                            height: 150px;
                            .name{
                                font-size: 36px;
                            }
                            .title{
                                font-size: 25px;
                                letter-spacing: 2px;
                            }
                        }
                        .action-btn{
                            display: block;
                            width: 100%;
                            margin-top: 0px !important;
                        } 
                        }
                    }
                }
            }
        }
    }
}

/*Home Slider Responsive end*/
/* --------------------------  */