/* Variable CSS start */
$primary-color: #00C7BE;
$secondary-color: #AF52DE;
$hover-color:#52E1DA;
$red-color:#FF2D55;
$black-color:#1C1C1E;
$text-color:#48484A;
$gray-color: #8E8E93;
$gray-light-color: #C7C7CC;
$white-color: #fff;
$light-white-color: #FBF7F7;
$green: #34C759;

:root{
    --primary-color: #00C7BE;
    --secondary-color: #66D4CF;
    --hover-color:#52E1DA;
    --red-color:#FF2D55;
    --black-color:#1C1C1E;
    --text-color:#48484A;
    --gray-color: #8E8E93;
    --gray-light-color: #C7C7CC;
    --hover:#40C8E0;
    --white-color: #fff;
    --light-white-color: #FBF7F7;
    --green: #34C759;

}
/* Variable CSS end */
