@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  /* Aspect Ration variables */
  --aspect-banner: 16/9;
  --aspect-mobile: 9/16;
  /* Color variables */
  --color-wahednur: var(--primary);
  --color-secondary: var(--secondary);
  --color-lightbg: var(--lightbg);
  --color-dark: var(--dark);
  --color-dark-text: var(--dark-text);
  --color-hover: var(--hover);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-info: var(--info);
  --color-active: var(--active);
  --color-rose: var(--rose);
  --color-error: var(--error);
  --color-accent: var(--accent);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);

  /* Font variables */
  --font-title: "Poppins", serif;
  --font-subtitle: "montserrat", serif;
  --font-section: "Raleway", serif;
  --font-btn: "Roboto", serif;
  --font-body: "Inter", serif;
  --font-testimonial: "Lora", serif;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}
:root {
  --primary: #2563eb;
  --secondary: #1e40af;
  --lightbg: #f9fafb;
  --dark: #0b0b0b;
  --dark-text: #333;
  --hover: #5fa9e9;
  --warning: #f39c12;
  --danger: #e74c3c;
  --success: #10b981;
  --info: #3b82f6;
  --active: #4178c0;
  --rose: #e91e63;
  --error: #ef4444;
  --accent: #f59e0b;
  --text-primary: #2c3e50;
  --text-secondary: #7f8c8d;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

body {
  @apply font-body text-dark-text bg-secondary/5;
}

.container {
  @apply mx-auto md:px-3 xl:px-0 max-w-[1440px];
}

/* Title css start  */
.sec-title {
  @apply text-5xl md:text-6xl xl:text-[80px] xl:leading-tight  font-black font-section;
}
.sec-sub-title {
  @apply text-3xl md:text-5xl xl:text-[56px] xl:leading-tight font-extrabold font-section;
}
.title {
  @apply text-xl md:text-2xl font-bold font-title;
}
.heading {
  @apply text-3xl md:text-5xl font-bold font-title;
}
.sub-title {
  @apply text-lg md:text-xl font-bold font-subtitle;
}
p {
  @apply text-sm md:text-base font-body;
}
/* Title css end  */
/* Navbar css start  */
.desk-nav a {
  @apply py-3 px-5 duration-300 font-medium hover:text-wahednur hover:border-b hover:border-wahednur;
}
.desk-nav a.active {
  @apply text-wahednur border-b border-wahednur;
}
.profile-nav a {
  @apply flex items-center gap-1 py-2 hover:text-wahednur duration-300 hover:border-l-2 hover:border-wahednur px-4;
}
.nav-profile {
  @apply absolute top-14  w-[300px] bg-white border-primary/10 border rounded-lg overflow-hidden pb-6;
}
.profile-nav a.active {
  @apply text-wahednur border-l-2 border-wahednur;
}
.mbl-nav {
  @apply bg-dark-text fixed left-0 bottom-0 right-0 z-50  w-full lg:hidden;
}
.mbl-nav a,
.mbl-nav button {
  @apply text-lg px-6 py-[18px] text-white hover:bg-primary;
}
.mbl-nav a.active {
  @apply bg-primary;
}
.mobile-nav li {
  @apply w-full float-left;
}
.mobile-nav li a {
  @apply w-full block py-2 text-dark-text hover:bg-primary hover:text-white duration-300;
}
.mobile-nav {
  @apply absolute left-1/2 -z-10 -translate-x-1/2 right-auto duration-500  w-[300px] flex flex-col bg-white border-primary/10 border rounded-lg overflow-hidden;
}
.mobile-nav li a.active {
  @apply bg-primary text-white;
}
/* Navbar css end  */

/* Button css start */
.btn,
a.btn {
  @apply px-5 py-3 rounded-lg duration-300 font-medium text-white hover:text-white hover:bg-secondary bg-wahednur;
}
/* Button css end */
/* Form css start */
.frm-grp {
  @apply flex flex-col gap-2 w-full;
}
.frm-ctr {
  @apply w-full px-5 py-2 rounded-lg border border-primary/10 bg-gray-50 text-dark-text outline-0;
}
/* Form css end */
.link {
  @apply text-wahednur hover:text-secondary duration-300;
}
